  pandas
  numpy
  faker
  networkx
  neo4j
  py2neo
  torch
  torch-geometric
  xgboost
  lightgbm
  scikit-learn
  python-louvain
  shap
  kafka-python
  redis
  fastapi
  uvicorn
  pydantic
  geopy
  haversine
  folium
  plotly
  streamlit
  pyvis
  jinja2
  reportlab
  flwr
  captum
  pygod
  imbalanced-learn
  pandera
  loguru
  pytest
